.img-cropper {
  display: flex;
  flex-direction: column;

  .label-input {display: none;}
  .input_message {
    position: absolute;
    background: red;
    color: white !important;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    top: 85px;
    right: 0;
  }
}