.numb_increment {
  display: flex;
  min-width: 110px;
  width: 110px;

  input {  border-radius: 0;}
  .label-input {left: 35px}
  .input_message {left: 33px}

  button {
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #477acc;
    position: relative;
    background: #477acc;
    color: #ffffff;
  }

  button:hover {
    background: #519df9;
  }

  .btn-before {
    border-radius:  4px 0 0 4px;
    right: -1px;
    font-size: 20px;
  }

  .btn-after {
    border-radius: 0 4px 4px 0;
    left: -1px;
    font-size: 18px;
  }
}